<mat-card class="card" *ngIf="messageService.messages.length">
  <mat-card-title-group>
    <mat-card-title>
      Messages:
    </mat-card-title>
  </mat-card-title-group>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p matLine class="card-line" *ngFor="let message of messageService.messages">{{message}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab color="primary" (click)="messageService.clear()"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>