<mat-card>
  <mat-card-title-group>
    <mat-card-title>Login into Heroes Editor</mat-card-title>
    <mat-card-subtitle>Google Account required</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>

      <button *ngIf="!(authService.user | async)?.uid" 
      mat-raised-button color="primary" (click)="enter()"><mat-icon>account_circle</mat-icon>  Login</button>
  
      <button mat-raised-button (click)="authService.logout()"><mat-icon>exit_to_app</mat-icon>  Logout</button>
  </mat-card-actions>
</mat-card>