
<div class="container">
  <mat-toolbar fxLayout="row">
    <h1 fxFlex>{{title}}</h1> 
    <span class="flex-spacer"></span>
    <a mat-mini-fab color="primary" routerLink="/detail"><mat-icon>add</mat-icon></a>
    <a mat-mini-fab color="primary" (click)="goToHeroes()"><mat-icon>list</mat-icon></a>
    <a mat-mini-fab color="accent" routerLink="/dashboard"><mat-icon>grid_on</mat-icon></a>
  </mat-toolbar>
<router-outlet></router-outlet>
  <!--<app-messages></app-messages>
  <app-file-upload-test></app-file-upload-test>-->
</div>