{{(hero | async | json)}}
<mat-card class="card" *ngIf="hero" >
  <mat-card-header >
    <mat-card-title-group>
      <mat-card-title matLine>{{hero.name | uppercase }} Details</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content fxLayout.xs="column" fxLayout.gt-xs="row wrap">
    <img mat-card-lg-image class="card-line" [src]="hero.avatar">
    <div fxFlex fxLayout="column">
      <p matLine class="card-line" fxFlex fxLayout="row">id: {{hero.id}}</p>
      <mat-form-field fxFlex  fxLayout="row">
        <mat-label>Name</mat-label>
        <input type="text" matInput  appearance="fill" [(ngModel)]="hero.name">
      </mat-form-field>
      <mat-form-field fxFlex >
        <mat-label>Avatar URL</mat-label>
        <input type="text" matInput  appearance="fill" [(ngModel)]="hero.avatar">
      </mat-form-field>
    </div>
    <div fxFlex="100%">
      <mat-form-field fxFlex>
        <mat-label>Comments</mat-label>
        <textarea matInput placeholder="What is important about {{hero.name}}?" [(ngModel)]="hero.comments"></textarea>
      </mat-form-field>
    </div>
  </mat-card-content>
  
  <mat-divider></mat-divider>
  <mat-card-actions fxLayout="row" fxLayoutAlign="left center">
    <button mat-raised-button (click)="goBack()"><mat-icon>chevron_left</mat-icon>back</button>
    <button mat-raised-button (click)="save()" color="primary"><mat-icon>check_circle</mat-icon>Save</button>
    <button mat-raised-button (click)="cancel()" color="accent"><mat-icon>cancel</mat-icon>Cancel</button>
    <button mat-raised-button fxFlexAlign="end" (click)="erase()" color="warn"><mat-icon>delete</mat-icon>Remove</button>
  </mat-card-actions>
</mat-card>